<div class="business-menu-overview">
    <div class="card-two-charts">
        <div class="card-two-charts-container">
            <div>
                <div class="chart-label">
                    Popularity
                </div>
                <div class="chart-container">
                    <canvas #popularityChartCanvas></canvas>
                </div>
            </div>
            <div>
                <div class="chart-label">
                    Taste Test Rankings
                </div>
                <div class="chart-container">
                    <canvas #tasteTestChartCanvas></canvas>
                </div> 
            </div>  
        </div>
    </div>
    <div class="menu-overview-details">
        <div>
            <label>
                Total Items sold (all-time)
            </label>
            <div>
                19,724
            </div>
        </div>
        <div>
            <label>
                Most Popular Item
            </label>
            <div>
                19,724
            </div>
        </div>
        <div>
            <label>
                Least Popular Item
            </label>
            <div>
                19,724
            </div>
        </div>
        <div>
            <label>
                Best Reviewed Item
            </label>
            <div>
                19,724
            </div>
        </div>
        <div>
            <label>
                Worst Popular Item
            </label>
            <div>
                19,724
            </div>
        </div>
        <div>
            <label>
                Items sold this month
            </label>
            <div>
                19,724
            </div>
        </div>
    </div>
</div>