<div style="width:100%;display:flex; justify-content:center; padding: 12px 0px 10px 0px; height: 500px;">
    <div class="page-two-charts">
        <div>
            <div class="chart-label">
                Popularity
            </div>
            <div class="chart-container">
                <canvas #popularityChartCanvas></canvas>
            </div>
        </div>
        <div>
            <div class="chart-label">
                Taste Test Rankings
            </div>
            <div class="chart-container">
                <canvas #tasteTestChartCanvas></canvas>
            </div> 
        </div>  
    </div>
</div>