<div class="business-menu-overview">
    <div class="card-two-charts">
        <div class="card-two-charts-container">
            <div [style.visibility]="menuItemRevenues && menuItemRevenues.length ? 'visible' : 'visible'">
                <div class="chart-label">
                    Top Sellers - Revenue
                </div>
                <div class="chart-container">
                    <canvas #menuPopularityChartCanvas></canvas>
                </div>
            </div>
            <div [style.visibility]="storeRevenues && storeRevenues.length ? 'visible' : 'visible'">
                <div class="chart-label">
                    Stores - Revenue
                </div>
                <div class="chart-container">
                    <canvas #storeRevChartCanvas></canvas>
                </div> 
            </div>  
        </div>
    </div>
    <div class="menu-overview-details">
        <div>
            <label>
                Period Revenue 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.revenuePeriodSales && highLvlSales.revenuePeriodSales.periodRevenue">
                ${{highLvlSales.revenuePeriodSales.periodRevenue}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.revenuePeriodSales || !highLvlSales.revenuePeriodSales.periodRevenue">N/A</div>
        </div>
        <div>
            <label>
                Period Costs 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.revenuePeriodSales && highLvlSales.revenuePeriodSales.periodCosts">
                ${{highLvlSales.revenuePeriodSales.periodCosts}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.revenuePeriodSales || !highLvlSales.revenuePeriodSales.periodCosts">N/A</div>

        </div>
        <div>
            <label>
                Most Popular Menu Item 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.menuPopularitySales[0].menuName}} ({{highLvlSales.menuPopularitySales[0].nbrItemsSoldMenuItem}})
                ${{highLvlSales.menuPopularitySales[0].salesForItem}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.menuPopularitySales || !highLvlSales.menuPopularitySales.length">N/A</div>
        </div>
        <div>
            <label>
                Least Popular Menu Item 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].menuName}} ({{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].nbrItemsSoldMenuItem}})
                ${{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].salesForItem}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.menuPopularitySales || !highLvlSales.menuPopularitySales.length">N/A</div>
        </div>
        <div>
            <label>
                Most Popular Store
            </label>
            <div *ngIf="highLvlSales && highLvlSales.storePopularitySales && highLvlSales.storePopularitySales.length">
                {{highLvlSales.storePopularitySales[0].storeName}} ({{highLvlSales.storePopularitySales[0].nbrItemsSoldStore}})
                ${{highLvlSales.storePopularitySales[0].salesForStore}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.storePopularitySales || !highLvlSales.storePopularitySales.length">N/A</div>

        </div>
        <div>
            <label>
                Least Popular Store
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].storeName}} ({{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].nbrItemsSoldStore}})
                ${{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].salesForStore}}
            </div>
            <div *ngIf="!highLvlSales || !highLvlSales.storePopularitySales || !highLvlSales.storePopularitySales.length">N/A</div>
        </div>
    </div>
</div>