<div class="business-menu-overview">
    <div class="card-two-charts">
        <div class="card-two-charts-container">
            <div>
                <div class="chart-label">
                    Quantity Sold
                </div>
                <div class="chart-container">
                    <canvas #popularityChartCanvas></canvas>
                </div>
            </div>
            <div>
                <div class="chart-label">
                    Average Rating
                </div>
                <div class="chart-container">
                    <canvas #tasteTestChartCanvas></canvas>
                </div> 
            </div>  
        </div>
    </div>
    <div class="menu-overview-details">
        <div>
            <label>
                Period Revenue 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.revenuePeriodSales">
                ${{highLvlSales.revenuePeriodSales.periodRevenue}}
            </div>
        </div>
        <div>
            <label>
                Period Costs 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.revenuePeriodSales">
                ${{highLvlSales.revenuePeriodSales.periodCosts}}
            </div>
        </div>
        <div>
            <label>
                Most Popular Menu Item 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.menuPopularitySales[0].menuName}} ({{highLvlSales.menuPopularitySales[0].nbrItemsSoldMenuItem}})
                ${{highLvlSales.menuPopularitySales[0].salesForItem}}
            </div>
        </div>
        <div>
            <label>
                Least Popular Menu Item 
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].menuName}} ({{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].nbrItemsSoldMenuItem}})
                ${{highLvlSales.menuPopularitySales[highLvlSales.menuPopularitySales.length - 1].salesForItem}}
            </div>
        </div>
        <div>
            <label>
                Most Popular Store
            </label>
            <div *ngIf="highLvlSales && highLvlSales.storePopularitySales && highLvlSales.storePopularitySales.length">
                {{highLvlSales.storePopularitySales[0].storeName}} ({{highLvlSales.storePopularitySales[0].nbrItemsSoldStore}})
                ${{highLvlSales.storePopularitySales[0].salesForStore}}
            </div>
        </div>
        <div>
            <label>
                Least Popular Store
            </label>
            <div *ngIf="highLvlSales && highLvlSales.menuPopularitySales && highLvlSales.menuPopularitySales.length">
                {{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].storeName}} ({{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].nbrItemsSoldStore}})
                ${{highLvlSales.storePopularitySales[highLvlSales.storePopularitySales.length - 1].salesForStore}}
            </div>
        </div>
    </div>
</div>