<div class="business-menu-overview">
    <div class="card-two-charts">
        <div class="card-two-charts-container">
            <div>
                <div class="chart-label">
                    Quantity Sold
                </div>
                <div class="chart-container">
                    <canvas #popularityChartCanvas></canvas>
                </div>
            </div>
            <div>
                <div class="chart-label">
                    Average Rating
                </div>
                <div class="chart-container">
                    <canvas #tasteTestChartCanvas></canvas>
                </div> 
            </div>  
        </div>
    </div>
    <div class="menu-overview-details">
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
        <div>
            <label>
                Key 
            </label>
            <div>
                Value
            </div>
        </div>
    </div>
</div>