<div class="modal-header">
    <div style="align-items: center; justify-content: center;">
        Simulator
    </div>
    <div class="close-icon">
        <img width="28" height="28" src="../../../assets/icons/CloseIcon/outline_cancel_blue_48dp.png" />
    </div>
</div>
<div class="modal-body" style="height: 500px;">
    <div class="menu-items" style="width: 50%;">
        <div class="new-modify-menu-item">
            <div *ngIf="!editMenuItemMode" class="new-modify-menu-item-header">
                <button (click)="addMenuItem()" *ngIf="true" mat-raised-button color="accent">
                    {{isUpdateMode ? 'Update' : 'Add'}} Menu Item
                </button>
            </div>
            <div class="new-modify-menu-item-select" 
                [ngClass]="{'justify-center':!storeIngredients || !storeIngredients.length}" 
                style="display: flex; flex-direction: column;"
                *ngIf="editMenuItemMode">      
                <div [ngStyle]="{'visibility': isUpdateMode ? 'hidden' : 'visible'}">
                    <mat-form-field [ngClass]="{'invalid': false}" style="width:94px;" appearance="fill">
                        <mat-label>Menu Item</mat-label>
                        <mat-select [(ngModel)]="menuItem">
                        <mat-option *ngFor="let menuItem of menuItems | simulatorPipe:simulatedMenuItems" [value]="menuItem">{{menuItem.name}}</mat-option>
                     </mat-select>
                    </mat-form-field>
                </div>             
                <div>
                    <div *ngIf="menuItem || selectedMenuItem" class="increment-area">
                        <div (click)="plusMinusClicked(true, 'menuItem')" tabindex="1" class="plus-minus-btn"
                            matTooltip="Increment Quantity"
                            aria-label="Increment Quantity"
                            [matTooltipShowDelay]="500"
                        >
                            <img width="25" height="25" src="../../../assets/icons/PlusIcon/outline_add_blue_white_48dp.png" />
                        </div>
                        <div tabindex="2" class="ingredient-qty">
                            <input [(ngModel)]="selectedMIQty" type="number" value="0" width="5"
                            />
                            
                        </div>
                        <div (click)="plusMinusClicked(false, 'menuItem')" tabindex="3" class="plus-minus-btn"
                            matTooltip="Decrement Quantity"
                            aria-label="Decrement Quantity"
                            [matTooltipShowDelay]="500"
                        >
                            <img width="25" height="25" src="../../../assets/icons/MinusIcon/outline_remove_blue_white_48dp.png" />
                        </div>
                        <div
                            *ngIf="menuItem && !selectedMenuItem"
                            (click)="addOrUpdateMenuItem()"
                            id="saveIngredBtn" tabindex="4"
                            matTooltip="{{false ? 'Add Ingredient' : 'Update Ingredient'}}"
                            aria-label="Add Ingredient"
                            [matTooltipShowDelay]="500"
                        >
                        <img width="28" height="28" src="../../../assets/icons/CheckIcon/outline_done_blue_white_48dp.png" />
                    </div>
                    
                    <div
                        *ngIf="selectedMenuItem"
                        id="cancelIngredBtn" tabindex="5"
                        matTooltip="Cancel Changes"
                        aria-label="Cancel Changes"
                        (click)="cancelChanges()"
                        [matTooltipShowDelay]="500"
                    >
                        <img width="28" height="28" src="../../../assets/icons/XIcon/outline_close_red_48dp.png" />
                    </div>
                    <div
                        (click)="removeMenuItem()"
                        *ngIf="selectedMenuItem"
                        id="rmIngredBtn" tabindex="5"
                        matTooltip="Remove Menu Item"
                        aria-label="Remove Menu Item"
                        [matTooltipShowDelay]="500"
                    >
                        <img width="28" height="28" src="../../../assets/icons/TrashcanIcon/outline_delete_red_48dp.png" />
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-container">
            <div *ngIf="simulatedMenuItems && simulatedMenuItems.length" class="menu-item-list-container">
                <div class="menu-item-list-parent" [ngClass]="{'is-update-mode':false}">
                    <div class="menu-item-list">
                        <div
                            (click)="selectMenuItem(mi)" 
                            tabindex="4" 
                            [ngClass]="{'selected-menu-item':mi.selected}"
                            *ngFor="let mi of simulatedMenuItems"
                            
                            >
                            {{mi.name}} - Qty {{mi.count}}
                        </div>                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instructions">
        <div class="instructions-header">
            Instructions
        </div>
        <div class="instructions-body"             
            >
            <textarea matInput 
            placeholder="Instructions.." 
            [readonly]="false"
            [ngClass]="{'edit-text-mode':false}"
            >
         </textarea>
        </div>
        <div class="instruction-submit">
            <img *ngIf="true" width="28" height="28" src="../../../assets/icons/EditIcon/outline_edit_blue_white_48dp.png" />
            <img *ngIf="false" width="28" height="28" src="../../../assets/icons/CheckIcon/outline_done_blue_white_48dp.png" />
        </div>
    </div>
</div>
<div class="footer-border">
    <hr>
</div>
<div class="modal-footer">
    <button mat-raised-button color="accent">Close</button>
</div>