<div style="width:100%;display:flex; justify-content:center; padding: 10px 0px 10px 0px">
    <div style="display:flex;justify-content:space-around; width:70%">
        <div>
            <div>
                Title 1
            </div>
            <div style=" height:18vh; width:36vh">
                <canvas #popularityChartCanvas></canvas>
            </div>
        </div>
        <div>
            <div>
                Title 2
            </div>
            <div style="height:18vh; width:36vh">
                <canvas #tasteTestChartCanvas></canvas>
            </div> 
        </div>  
    </div>
</div>