<div class="business-menu-table">
    <div>
        <div class="table-header-panel">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Latte" #input>
              </mat-form-field>
              <button *ngIf="rowsSelected" mat-raised-button (click)="deleteSales()" color="warn">Delete</button>
              <button *ngIf="rowsSelected" mat-raised-button color="primary">Copy</button>
              <button (click)="addSale()" mat-raised-button color="primary">Add Sale</button>
        </div>
        <div>
            <table *ngIf="tableReady" mat-table matSort
            (matSortChange)="onMatSortChange($event)"
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8">
              <!-- Position Column -->
            <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef> 
                    <mat-checkbox [(ngModel)]="mainTableChkbox" (click)="selectDeselectAllRows()">
                    </mat-checkbox> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox [(ngModel)]="element.selected" (click)="rowSelected($event)"></mat-checkbox>    
                </td>
            </ng-container>
            <ng-container matColumnDef="{{column}}" *ngFor="let column of mainColumns; let index=index;">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="column"> {{getColumnName(column)}} </th>
            <td #text_input mat-cell *matCellDef="let element" class="cell-data">
                <div class="datepicker" *ngIf="column === 'saleDate'">
                    <div tabindex="6" style="display: inline-block;" (click)="menuOrDateSelectOpened($event)" >
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Choose a date</mat-label>
                            <input [ngModel]="element.saleDate" matInput [matDatepicker]="picker"
                                (dateChange)="updateSaleDate($event, element)"
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="month" [startAt]="element.saleDate" ></mat-datepicker>
                          </mat-form-field>
                    </div>
                </div>
                <div class="menu-item-select" *ngIf="column === 'menuItem'">
                    <div tabindex="7" style="display: inline-block;" (click)="menuOrDateSelectOpened($event)">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Category</mat-label>
                            <mat-select (selectionChange)="menuItemSelectionChanged($event, element)" [(ngModel)]="element[column]">
                                <mat-option *ngFor="let menuItem of availMenuItems" [value]="menuItem">{{menuItem.name}}</mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="menu-item-select" *ngIf="column === 'store'">
                    <div tabindex="7" style="display: inline-block;" (click)="menuOrDateSelectOpened($event)">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Store</mat-label>
                            <mat-select  (selectionChange)="storeSelectionChanged($event, element)" [(ngModel)]="element[column]">
                                <mat-option *ngFor="let store of availStores" [value]="store">{{store.storeName}}</mat-option>
                            </mat-select>
                        </mat-form-field> 
                    </div>
                </div>
                <div class="cell-data-div" *ngIf="!(column === 'saleDate' || column === 'menuItem' || column === 'store')">
                    <div class="cell-data-div-first-div" (click)="editIconClicked($event, element, column)">
                        <input tabindex="1"
                            style="border-color: #42b7ff; text-overflow: ellipsis" 
                            (blur)="disableEditMode($event, element, column, element[column])" 
                            [readonly]="element.isReadOnly || element.editableColumn != column" 
                            value="{{element[column]}}" 
                            [maxLength]="columnSizeMap[column]"
                            [(ngModel)]="element[column]"
                            type="text"
                            (keyup.Tab)="onTabKey($event, element, column)"
                            (keyup.shift.tab)="onTabKey($event, element, column)"
                            (mousedown)="onKeyDown($event, element)"
                        />         
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-around">
                        <div [ngClass]="{'visibility-hidden': element.isReadOnly || element.editableColumn != column}" 
                        *ngIf="element.isReadOnly || element.editableColumn != column"
                        class="cell-data-div-img-edit" 
                        style="display: inline-flex;">
                            <div tabindex="1" (click)="editIconClicked($event, element, column)">
                            </div>
                        </div>
                        <div *ngIf="!element.isReadOnly && element.editableColumn == column && element.editableColumn != null" class="cell-data-div-img-check" style="display: inline-flex;">
                            <div tabindex="" (click)="saveSale($event, element, column, element[column])">
                            </div>
                        </div>
                        <div tabindex="5" (mousedown)="deleteIconClicked($event, element, column)"  *ngIf="!(element.isReadOnly || element.editableColumn != column)" class="cell-data-div-img-close" style="display: inline-flex;">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            </ng-container>
            <ng-container matColumnDef="expicn">
                <th mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let element">
                    <!---->
                    <mat-icon style="float:right;" class="expand-icon"  [@openClose]="expandedElement !==element ? 'open' : 'closed'">keyboard_arrow_up</mat-icon>
                </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="sub-row-grid">
                    <div class="grid-item-1">
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="grid-item-2">
                        <div>
                        </div>
                    </div>
                    <div class="grid-item-4">
                        <button mat-raised-button color="primary">Print</button>
                        <button mat-raised-button color="primary">Export</button>
                        <button mat-raised-button (click)="deleteSale(element.saleId)" color="warn">Delete</button>
                    </div>
                </div>
            </div>
            </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let element; columns: columns;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandRow($event, expandedElement, element); expandedElement = expandedElement === element ? null : element"
            >
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
    
</div>
