<div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Annual 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Profits
  </div>
  <div *ngIf="profit" [ngStyle]="{'color': getPosOrNeg(profit.yearProfits) ? '#66ff00' : '#EE4B2B'}" class="sidebar-container-item-rf">        
    {{getProfitDisplay(profit.yearProfits)}}
  </div> 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Revenue
  </div>
  <div *ngIf="revenue" style="color:#66ff00;" class="sidebar-container-item-rf">        
    + {{revenue.yearSales}}
  </div> 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Expenses
  </div>
  <div *ngIf="expense" style="color:#EE4B2B;" class="sidebar-container-item-rf">        
    - {{expense.yearExpenses}}
  </div> 
</div>
<div class="sidebar-container" style="padding-top:7px;">
  <div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Month
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Profits
    </div>
    <div *ngIf="profit" [ngStyle]="{'color': getPosOrNeg(profit.monthProfits) ? '#66ff00' : '#EE4B2B'}" class="sidebar-container-item-rf">        
      {{getProfitDisplay(profit.monthProfits)}}
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Revenue
    </div>
    <div *ngIf="revenue" style="color:#66ff00;" class="sidebar-container-item-rf">        
      + {{revenue.monthSales}}
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Expenses
    </div>
    <div *ngIf="expense" style="color:#EE4B2B;" class="sidebar-container-item-rf">        
      - {{expense.monthExpenses}}
    </div> 
  </div>
</div>
<div class="sidebar-container">
  <div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Week 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Profits
    </div>
    <div *ngIf="profit" [ngStyle]="{'color': getPosOrNeg(profit.weekProfits) ? '#66ff00' : '#EE4B2B'}" class="sidebar-container-item-rf">        
      {{getProfitDisplay(profit.weekProfits)}}
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Revenue
    </div>
    <div *ngIf="revenue" style="color:#66ff00;" class="sidebar-container-item-rf">        
      + {{revenue.weekSales}}
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Expenses
    </div>
    <div *ngIf="expense" style="color:#EE4B2B;" class="sidebar-container-item-rf">        
      - {{expense.weekExpenses}}
    </div> 
  </div>
</div>