<div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Annual 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Profits
  </div>
  <div style="color:green;" class="sidebar-container-item-rf">        
    + 113178.26
  </div> 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Revenue
  </div>
  <div style="color:green;" class="sidebar-container-item-rf">        
    + 121422.48
  </div> 
</div>
<div class="sidebar-container-item">
  <div class="sidebar-container-item-lf">
    Expenses
  </div>
  <div style="color:#e64b30;" class="sidebar-container-item-rf">        
    - 8244.22
  </div> 
</div>
<div class="sidebar-container" style="padding-top:7px;">
  <div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Month
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Profits
    </div>
    <div style="color:green;" class="sidebar-container-item-rf">        
      + 2314.32
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Revenue
    </div>
    <div style="color:green;" class="sidebar-container-item-rf">        
      + 2836.11
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Expenses
    </div>
    <div style="color:#e64b30;" class="sidebar-container-item-rf">        
      - 521.79
    </div> 
  </div>
</div>
<div class="sidebar-container">
  <div class="sidebar-container-header" style="text-align: center; text-transform: uppercase">
    Week 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Profits
    </div>
    <div style="color:green;" class="sidebar-container-item-rf">        
      + 1571.22
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Revenue
    </div>
    <div style="color:green;" class="sidebar-container-item-rf">        
      + 1802.39
    </div> 
  </div>
  <div class="sidebar-container-item">
    <div class="sidebar-container-item-lf">
      Expenses
    </div>
    <div style="color:#e64b30;" class="sidebar-container-item-rf">        
      - 231.17
    </div> 
  </div>
</div>