<div class="modal-header">
    <div style="align-items: center; justify-content: center;">
        {{data.title}}
    </div>
    <div (click)="close()" class="close-icon">
        <img width="28" height="28" src="../../../assets/icons/CloseIcon/outline_cancel_blue_48dp.png" />
    </div>
</div>
<div class="modal-body" style="height: 400px;">
    Body area
</div>
<div class="footer-border">
    <hr>
</div>
<div class="modal-footer">
    <button mat-raised-button color="accent">Save</button>
</div>