.modal-header{
    height: 42px;
    background: #42B7FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 6px;

    .close-icon{
        display: flex; 
        align-items: center; 
        position: absolute; 
        margin-left: 500px;
    }

    .close-icon > img:hover{
        cursor: pointer;
    }
}

.modal-body{
}

.footer-border{
      hr{
        border-bottom: 1px dotted #BEBEBF;
        border-top: none;
        border-right: none;
        border-left: none;
      }
}

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    button:hover{
        outline: none !important;
        border-color: orange;
        box-shadow: 0 0 10px orange;
    }
}