<div class="navbar">
    <div style="display:inline-block">
      <div>
        <a class="navbar-item coffee-icon">
        </a>
      </div>
    </div>
    <table style="width:100%;">
      <tbody>
        <tr>
          <td>
            <div style="white-space: nowrap;">
              <div style="display:inline-block" (click)="navigateNavBar('dashboard');">
                <div>
                  <a [ngClass]="{'dashboard-tab-selected': selectedNavItem == 'dashboard'}" class="navbar-item dashboard-tab">
                    Dashboard
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('menu');">
                <div>
                  <a [ngClass]="{'menu-tab-selected': selectedNavItem == 'menu'}" class="navbar-item menu-tab">
                    Menu
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('inventory');">
                <div>
                  <a [ngClass]="{'inventory-tab-selected': selectedNavItem == 'inventory'}" class="navbar-item inventory-tab">
                    Inventory
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('sales');">
                <div>
                  <a [ngClass]="{'sales-tab-selected': selectedNavItem == 'sales'}" class="navbar-item sales-tab">
                    Sales
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('events');">
                <div>
                  <a [ngClass]="{'events-tab-selected': selectedNavItem == 'events'}" class="navbar-item events-tab">
                    Events
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('partners');">
                <div>
                  <a [ngClass]="{'partners-tab-selected': selectedNavItem == 'partners'}" class="navbar-item partners-tab">
                    Partners
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('reports');">
                <div>
                  <a [ngClass]="{'reports-tab-selected': selectedNavItem == 'reports'}" class="navbar-item reports-tab">
                    Reports
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateNavBar('locations');">
                <div>
                  <a [ngClass]="{'locations-tab-selected': selectedNavItem == 'locations'}" class="navbar-item locations-tab">
                    Locations
                  </a>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div style="white-space: nowrap;">
              <div style="display:inline-block" (click)="navigateToolBar('notification');">
                <div>
                  <a [ngClass]="{'notifications-tab-selected': selectedToolbarItem == 'notification'}" class="navbar-item notifications-tab">
                    Notifications
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateToolBar('settings');">
                <div>
                  <a [ngClass]="{'settings-tab-selected': selectedToolbarItem == 'settings'}" class="navbar-item settings-tab">
                    Settings
                  </a>
                </div>
              </div>
              <div style="display:inline-block" (click)="navigateToolBar('search');">
                <div>
                  <a [ngClass]="{'search-tab-selected': selectedToolbarItem == 'search'}" class="navbar-item search-tab">
                    Search
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="footer">
  <div class="footer-content">
    <div style="float: left;">
      <a class="footer-item">What's New</a>
    </div>
    <div style="float:right; display:flex;">
      <a class="footer-item">Help</a>
      <a class="footer-item">Download</a>
      <a class="footer-item">Upload</a>
      <a class="footer-item">Profile</a>

    </div>
  </div>
</div>