<div class="business-menu-header">
    <div class="business-menu-header-container">
        <img style="display: block;" width="35" height="35" src="../../assets/icons/FoodMenuIcon/2x/outline_menu_book_blue_48dp.png">
        <div class="business-menu-header-text">
            Menu
        </div>
    </div>
</div>
<div style="background-color: #F5F6F7; height:1200px;">
    <div style="display: flex; justify-content: center;">
        <app-business-menu-overview></app-business-menu-overview>
    </div>
    <app-business-menu-table [(menuItems)]="menuItems" (notifyParent)="tableMenuItemsChanged($event)"></app-business-menu-table>
</div>